<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Reviews</title>
</head>
<body>
	<header>
		<h1>My Morning Beverage</h1>
		<nav>
			<ul>
				<li th:each= "review : ${reviews}">
					 <a th:href="|/reviews/${review.id}|"><img th:src="${review.imageLocation}" alt="${review.title}" style="width:10%;height:10%;"> Review </a>
					 <a th:href="|/reviews/${review.id}|" th:text="${review.title}">Review</a>
				</li>
			</ul>
		</nav>
	</header>
	<footer>
		<small>&copy; Wayne Livingston 2018</small>
	</footer>
</body>

</html>